[leaderboard]
sheet_id = "1IHC4Ju76c-ftIYiLEZlrb_n1tEVzbzXrSJYVlb6Qht4"

[leaderboard.service_account]
type = "service_account"
project_id = "replace-with-google-cloud-project-id"
private_key_id = "replace-with-new-key-id"
private_key = "replace-with-new-private-key"
client_email = "replace-with-service-account-email"
client_id = "replace-with-service-account-client-id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "replace-with-service-account-certificate-url"
universe_domain = "googleapis.com"
